*,body{
	margin: 0px;
	padding: 0px;
}
.black {
	color:black;
}
header {
	position: relative;
	background: #42d58f;
	height: 40px;
	width: 100%;
}
span.info-subheader{
	position: relative;
	color:white;
	margin-left:40px;
	left: 125px;
	top: 10px;
	font-size: 13px;
	font-family: sans-serif;
}
ul{	
	position: absolute;
	list-style: none;
	top: 10px;
	left: 1000px;
	color: white;
	bottom: 8px;
}
ul li {
	margin-left: 5px;
	display:inline;
}
nav {
	position: relative;
	margin: auto;
	width: 100%;
	height: 100px;
	background:#ffffff;
}
.logo img {
	position: absolute;
	left: 150px;
}
nav ul {
	position: absolute;
	top: 0px;
	left: 440px;
	text-align: center;
	width: 500px;
	height: 100px;
	background:#ffffff;
}
nav ul li {
	position: relative;
	top:40px;
	text-align: center;
	font-family: sans-serif;
	font-size: 14px;
	font-weight: 600;
	margin-left: 15px;
	color:#8a8c8b;
}
nav ul li a {
	color:#42d58f !important;
}
nav ul li button {
	float: right;
	margin-right:-80px;
	margin-top: 10px;
}
.title {
  position: relative;
  top: 50px;
  text-align: center;
  color:#53bd7f;
  font-weight: 600;
  font-size: 160%;
  font-style: italic;
}
.title p {
	color:#a8a8a7;
	font-size:16px;
}
section ul{
	position: relative;
	left: 0px;	
	width: 100%;
	height:400px;
}
section li {
	position: relative;
	text-align: center;
	left: 10px;
	padding-top: 35px;
	padding-left: 50px;
	float: left;
	width: 32%;
	height: 299px;
	color: black;
}
span.more {
	color:#53bd7f;
}
.jumbotron{
	left: 10px;
}
.jumbotron h3{
	color:#53bd7f;
}
.my-4{
	border: 2px solid #53bd7f;
	width: 105px;
}
.p{
	width: 400px;
}
.text{
	position: relative;
	top: 30px;
	text-align: center;
}
.text h1{
	bottom: 14px;
	position: relative;
	color: #42d58f;
}
.my-5 {
    position: relative;
    bottom: 32px;
    padding-right: 10px;
    border: 1px solid #53bd7f;
    width: 150px;
}
.text p {
	bottom: 50px;
	position:relative;
}
.slide2{
	position: relative;
	top: 10px;
	left: 50px;
	width: 1000px;
	height: 450px;
	background-color:#eaeaea;
}
.slide2 ul{
	position: absolute;
	padding-left:70px;
	padding-right: 60px;
	padding-top: 40px;
	top:0px;
	left: 469px;
	width: 670px;
	height: 450px;
	background-color: #42d58f;
}
.slide2 ul h4{
	color: black;
	font-family: sans-serif;
	font-weight:800;
}
.big {
    font-weight: 700;
}
.boton {
	position: relative;
	right:  100px;
}
.card-deck-1{
	position: relative;
	padding-left: 50px;
	padding-right: 30px;
	bottom:135px;
}
.card{
	padding-left: 30px;
	padding-right: 30px;
}
span.goal {
	position: absolute;
	font-weight: 700;
	color:#53bd7f;
	right: 50px;
}
button{
	position: relative;
	left:100px;
} 
.informacion {
	position: relative;
	width: 100%;
	height: 200px;
	top:620px;
	background-color: #767676;
}
.informacion ul{
	position: relative;
	height: 250px;
	width: 100%;
	left: 0px;
	top: 0px;
/*	background:  red; */
}
.informacion ul li {
	position: relative;
	float: left;
	left: 55px;
	top:40px;
	width: 23%;
	color: black;
/*	background-color:pink; */
}
.may{
	right: 50px;
	color: white;
	font-size: 20px;
	font-weight:700;
}
.min{
	position: relative;
	padding-left: 127px;
	bottom: 53px;
	color: white;
	font-size:14px;
}
.news {
	position: relative;
	top:272px;
	width: 100%;
	height:200px;
}
.news h2{
	position: relative;
	top: 50px;
	text-align: center;
	color:#42d58f;
}
.my-57{
	position: relative;
	left:515px;
	top:44px;
	border: 1px solid #53bd7f;
	width: 120px;
}
.news p{
	position: relative;
	text-align: center;
	padding-top: 55px;
	padding-right:150px; 
	padding-left: 150px
}
.card-deck-2{
	padding-left: 10px;
	padding-top: 290px;
}
.letras {
	font-family: sans-serif;
	font-size: 18px;
}
.volunteer
{
	position: relative;
	bottom: 70px;
	width: 100%;
	height: 190px;
	background-color: #42d58f;
}
.volunteer h2{
	font:  bold 185% cursive;
	padding-top:49px;
	text-align: center;
	color: white;
}
.boton2{
	position: relative;
	padding-left: 470px;
	padding-top: 18px;
/*	border-radius:55px; */
}
.testimonios{
	position: relative;
	bottom:70px;
	width: 100%;
	height:430px;
	background-color:#edecec;
}
.testimonios h2 {
	text-align: center;
	padding-top: 50px;
	color:#53bd7f;
}
.my-58 {
    position: relative;
    left: 563px;
    border: 1px solid #53bd7f;
    width: 110px;
}
.card-deck-5{
	padding-top: 20px;
	padding-left:50px;
	padding-right:50px;
}
.card-modify{
	background-color:#edecec!important;
	border:none!important;
}
.nombres{
	position: absolute;
	top: 27px;
	left:152px;
}
.our{
	position: relative;
	top: 50px;
	width: 100%;
	height: 500px;
/*	background-color: pink; */
}
.our h2{
	text-align: center;
	color:#53bd7f;
}
.my-59 {
    border: 1px solid #53bd7f;
    position: relative;
    left: 560px;
    width: 110px;
}
.our p{
	text-align: center;
	padding-right:150px; 
	padding-left: 150px
}
.kar{
	position: absolute;
	padding-left:100px;	
    top:700px;
}
.card-title1 {
	position: relative;
	font-weight:700;
}
.paners{
	background-color:#efeeee;
	position: relative;
	height: 130px;
	width: 100%;
	top: 130px;
}
.paners ul {
/*	background-color: orange; */
	position: absolute;
	width: 100%;
	height: 130px;
	top: 0px;
	left: 0px;
}
.paners ul li {
	position: relative;
	float: left;
	height:130px;
	width: 15%;
	bottom: 28px;
	left:45px;
}
.otros{
	position: relative;
/*	background-color:orange; */ 
	background-color: #3c3c3c; 
	top: 120px;
	width: 100%;
	height:420px;
}
.otros ul{
	position: relative;
	top: 0px;
	left:0px;
	width: 100%;
	height:420px;
}
.otros > ul > li {
	position: relative;
	float: left;
	top: 10px;
	left: 100px;
	width: 20%;
	height: 300px;
/*	background-color: pink;  */
}
.letras-otros {
	position: absolute;
	top: 50px;
	font-weight: 500;
	left: 36px;
	color:#53bd7f;
}
.uno{
	position: relative;
/*	background-color:blue; */
}
.uno li {
	font-size: 14px;
	position: relative;
	padding-top: 10px;
	padding-right: 40px;
	padding-bottom: 9px;
	top:80px;
	left:30px;
	display: inherit;
}
.verde{
	color: #53bd7f;
}
.dos{
	position: relative;
	top:75px;
	right:88px;
}	
.tres{
	position: relative;
	bottom: 70px;
	left:10px;
	display: inherit;
}
.uno ul {
    position: relative;
    padding-top: 100px;
    padding-right: 20px;
    left: -80px;
}
.footer{
	position: relative;
	background: #42d58f;
    border:white;
	top: 120px;
	width:100%;
	height: 70px;
}
.footer-letras{
	position: absolute;
	top: 27px;
	left: 128px;
}
.logos{
	position: relative;
	top: 67px;
	right: 120px;
}
.final {
	color: #000;
} 

